<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>awork</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/bootstrap_v3_3_0.min.css">
    <link rel="stylesheet" type="text/css" href="../../index/css/index.css">
</head>

<body>
<h4 class="text-center">Awork <<$awork_version>> index
    <small>
        (<a href="/test/index" target="_blank">Go to test</a>)
        . --- lasted update at 2020.03
    </small>
</h4>

<div class="container" style="width: 1500px; line-height: 3em">

    <div class="row">
        <div class="col-lg-6">
            <!--<iframe frameborder="0" scrolling="auto" height="500" width="100%" src="https://tool.lu/timestamp/"></iframe>-->
            <h4 class="text-info mg-15">Tool for timestamp</h4>
            <div class="row time-sm-line lh-1_5">
                <div class="col-sm-5">
                    <code id="now_time">/</code>
                    <button type="button" class="btn btn-danger btn-xs" id="now_stop" data-val="1">Stop</button>
                    <code id="now_time_record">/</code>
                </div>
                <code id="now_date_record">--</code>
            </div>
            <div class="row time-sm-line">
                <div class="col-sm-5 form-group form-inline">
                    <input type="text" class="form-control" id="time_in" placeholder="Timestamp">
                    <label for="time_in"><button type="button" class="btn btn-primary btn-xs">Date</button></label>
                </div>
                <code id="time_out">/</code>
            </div>
            <div class="row time-sm-line">
                <div class="col-sm-5 form-group form-inline">
                    <input type="text" class="form-control" id="date_in" placeholder="DateTime">
                    <label for="date_in"><button type="button" class="btn btn-primary btn-xs">Time</button></label>
                </div>
                <code id="date_out">/</code>
            </div>
        </div>
        <div class="col-lg-6">
            <!--<iframe frameborder="0" scrolling="auto" height="500" width="100%" src="https://tool.lu/json/" ></iframe>-->
            <h4 class="text-info">Tool for json</h4>
            <input type="text" class="form-control" id="text_in" placeholder="Input...">

            <label id="json_decode"><button type="button" class="btn btn-primary btn-xs">json decode</button></label>
            <label id="json_encode"><button type="button" class="btn btn-primary btn-xs">json encode</button></label>
            <label id="url_decode"><button type="button" class="btn btn-primary btn-xs">url decode</button></label>
            <label id="url_encode"><button type="button" class="btn btn-primary btn-xs">url encode</button></label>
            <label id="implode"><button type="button" class="btn btn-primary btn-xs">implode</button></label>
            <label id="explode"><button type="button" class="btn btn-primary btn-xs">explode</button></label>
            <label id="rand_passwd"><button type="button" class="btn btn-primary btn-xs">rand passwd</button></label>
            <label id="version_bat"><button type="button" class="btn btn-primary btn-xs" title="双击下载">version bat</button></label>

            <textarea title="" id="text_out" class="form-control" rows="20" placeholder="" style="resize: none" ></textarea>
        </div>
    </div>

    <!--*<div class="row">
        <div class="col-sm-12">
            <iframe frameborder="0" scrolling="auto" height="300" width="100%" src="https://fanyi.baidu.com/#zh/en/"></iframe>
        </div>
    </div>*-->

</div>

<script src="../../common/js/vue_v2_2_2.min.js"></script>
<script src="../../common/js/jquery_v2_1_1.min.js"></script>
<script src="../../common/js/md5.js"></script>
<script src="../../index/js/index_function.js"></script>
<script src="../../index/js/index.js"></script>

</body>
</html>
