<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>awork</title>
    <script>
        // 声明_czc对象:
        var _czc = _czc || [];
        // 绑定siteid
        _czc.push(["_setAccount", "1274211264"]);
    </script>
</head>
<body>
<button onclick="_czc.push(['_trackEvent', '计费特权', '点击开通', '云平台','1',''])">CNZZ1</button>
<div>awork index</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274211264'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274211264' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>