<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>awork</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/bootstrap_v3_3_0.min.css">
</head>

<body>
<h4 class="text-center">awork <<$awork_version>> index</h4>
<div class="container" style="width: 1500px">

    <div class="row">
        <div class="col-lg-6">
            <iframe frameborder="0" scrolling="auto" height="500" width="100%" src="https://tool.lu/timestamp/"></iframe>
        </div>
        <div class="col-lg-6">
            <iframe frameborder="0" scrolling="auto" height="500" width="100%" src="https://tool.lu/json/" ></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <iframe frameborder="0" scrolling="auto" height="300" width="100%" src="https://fanyi.baidu.com/#zh/en/"></iframe>
        </div>
    </div>

</div>

<script src="../../common/js/vue_v2_2_2.min.js"></script>

</body>
</html>