
.time-sm-line
{
    min-height: 40px;
    line-height: 2em;
}

.platform-sm-line
{
    line-height: 1.5em;
}

.platform-sm-line #image_list,#doc_list a
{
    background: #0a9afe;
    border-color: #0a9afe;
}

.string-sm-line
{
    line-height: 1em;
}

.string-sm-line input
{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 99.6%;
}

.string-sm-line textarea
{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 99.6%;
}

.string-sm-line label
{
    margin-top: 3px;
    margin-left: 2px;
}

.btn:hover,.btn:focus
{
    outline: none;
}

.to-fix-select.layui-layer-content
{
    overflow: visible;
}

.layui-layer-iframe .layui-layer-btn, .layui-layer-page .layui-layer-btn
{
    padding-right: 25px;
}

body h4
{
    margin-top: 15px;
    font-size: 18px;
}
